body{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    background-color: blanchedalmond;

}
h1{
    padding-top:8% ;
}
div.outerdiv{
    margin-left: 25%;
    margin-right: 25%;
    background-color:rgb(255, 255, 255);
    box-shadow: 9px 9px 9px 9px grey;
    height: 45vh;
    padding: 20px 0 0 20px;
    border-radius: 2%;
}
img{
    border-radius: 100%;
    max-width: 100%;  
    height: 200px;

}
h4,h5{
    text-align: center;
   
}
.leftbtn{
    color: lightseagreen;
    border: none;
    background-color: white;
    cursor: pointer;
}
.rightbtn{
    color: lightseagreen;
    border: none;
    background-color: #fff;
    cursor: pointer;

}
.suprise{
    height: 10%;
    margin-top: 2%;
    border-radius: 10%;
    border-color: black;
    background-color: pink;
}
